h1,.title{
    color: #12372A;
    font-family: "DotGothic16", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.fonth1{
    color: #12372A;
    font-family: "DotGothic16", sans-serif;
    font-weight: 900;
    font-style: bold; 
}

p{
    font-family: "Turret Road", sans-serif;
    font-weight: 800;
    font-style: normal;  
    font-size: larger; 
}

.font{
    font-family: "Turret Road", sans-serif;
    font-weight: 400;
    color: #FBFADA;
}

.move-left {
    margin-right: 300px; 
  }

.heading{
    background-color: #FBFADA;
}

.me{
    display: flex;
    justify-content: center;
    text-align: center;
}

.profile-img {
    height: 100px;
    width: 110px;
    border-radius: 50%;
  }

  .ft{
    background-color: #12372A;
    
  }